
<p id="notice"><%= notice %></p>

<h1>User details</h1>
<p>
  <b>Id:</b>
  <%= @user.id %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Registered on :</b>
  <%= @user.created_at %>
</p>


<%=link_to 'Edit details', edit_user_path(@user) %>
<%= link_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete %>
<% if current_user && current_user.admin %>

 | <%= link_to 'Users listing', users_path %>
<% end %>
