<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :email_address %><br />
    <%= f.text_field :email_address %>
  </div>
  <div class="field">
    <%= f.label :confirm_email %><br />
    <%= f.text_field :confirm_email %>
  </div>
  <div class="field">
    <%= f.label :card_type %><br />
    <%= f.select :card_type, Payment::CARD_TYPES %>
  </div>
  <div class="field">
    <%= f.label :card_number %><br />
    <%= f.text_field :card_number, :placeholder => "Please enter 16 characters" %>
  </div>
  <div class="field">
    <%= f.label :expire_date %><br />
    <%= f.text_field :expire_date, :placeholder => "Please enter 4 characters" %>
  </div>
  <div class="field">
    <%= f.label :cvc_number %><br />
    <%= f.text_field :cvc_number, :placeholder => "Please enter 3 characters" %>
  </div>
  <div class="actions">
    <%= f.submit "Purchase"%>
  </div>
<% end %>
